	Mobile-Commerce-SDK/
	RemoteSystemsTempFiles/
	hybris-Mobile-Apps-SDK/
	hybris-dependencies/
	hybris-ems/
	hybris-oms/
	hybris-sbg/
	hybris/bin/ext-accelerator/
	hybris/bin/ext-addon/
	hybris/bin/ext-atdd/
	hybris/bin/ext-atddtests/
	hybris/bin/ext-backoffice/
	hybris/bin/ext-channel/
	hybris/bin/ext-cockpit/
	hybris/bin/ext-commerce/
	hybris/bin/ext-content/
	hybris/bin/ext-data/
	hybris/bin/ext-deprecated/
	hybris/bin/ext-integration/
	hybris/bin/ext-platform-optional/
	hybris/bin/ext-print/
	hybris/bin/ext-supportability/
	hybris/bin/ext-template/
	hybris/bin/platform/
	hybris/config/
	hybris/data/
	hybris/log/
	hybris/sampleconfigurations/
	hybris/temp/
	hybristrial504/
	licenses/
	pom.xml
